<input hidden="true" type="file" #fileElement (change)="onLoaded($event)">

<button class="my-button" mat-button [matMenuTriggerFor]="menu"> 
    {{'filemenu.title' | translate}}<mat-icon>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="new()">{{'filemenu.new' | translate}}</button>
    <!-- a -->
    <button mat-menu-item (click)="load()">{{'filemenu.loadlocal' | translate}}</button>
    <button mat-menu-item (click)="save()">{{'filemenu.savelocal' | translate}}</button>
</mat-menu>